.header{
    -fx-font-size: 35px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

.normal{
    -fx-font-size: 14px;
}

.formatWindow{
    -fx-pref-height: 460;
    -fx-pref-width: 670;
}

.formatHBOX{
    -fx-spacing: 100;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}